:root {
    --color-p: #B28756;
    --grey-color: #cfcfcf;
    --light-grey-color: #ededed;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
}

header {
    background-color: #000;
    height: 100px;
}

.header {
    display: flex;
    align-items: center;
    height: 100px;
    max-width: 1140px;
    margin: auto;
    color: #FFF;
}

.logo {
    width: 100px;
}

.logoImg {
    width: 80px;
    height: 80px;
    background-color: var(--color-p);
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}  

.menu ul {
    display: flex;
}

.menu ul li {
    list-style: none;    
}

.menu li a {
    text-transform: uppercase;    
    font-weight: 600;
    text-decoration: none;
    color: #FFF;
    padding-left: 10px;
    padding-right: 10px;

    /* Para definir a altura da tag "a", precisa definir como display:flex. Pois ela é por padrão inline, que não tem como definir altura. */
    /* Definindo dessa forma, o border-bottom do hover irá ficar corretamente no final da div menu. */
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: 5px solid transparent;
}

.menu li a:hover {
    border-bottom: 5px solid var(--color-p);
}

.banner {
    background-image:  url("../images/bg.jpg");
    background-color: #ccc;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 839px;
}

.opacity {  
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
} 

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1140px;
    margin: auto;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;      
    text-transform: uppercase;    
}

.title h1 {
    font-weight: 700;
    color: #FFF;
    font-size: 5.5em;
    text-shadow: 0px 0px 3px #000;
}

.title strong {
    font-weight: 700;
    color: var(--color-p);
}

.title p {
    font-weight: 700;
    font-size: 2em;
    color: #FFF;
    flex-wrap: wrap;
}

.button {
    background-color: var(--color-p);
    color: #FFF;
    font-weight: 600;
    text-align: center;
    width: 200px;
    padding: 15px 20px;
    border-radius: 100px;
    margin-top: 40px;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0px 0px 3px #000;
    background-color: #000;
    color: var(--color-p);
    text-shadow: 0px 0px 3px var(--color-p);
}

.navImage {
    display: flex;
    margin-bottom: 30px;    
}

.nav {
    border: 3px solid var(--color-p);
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.nav:hover {
    background-color: var(--color-p);
}

.navSelected {
    background-color: var(--color-p);
}

.about {
    height: 500px;    
    box-shadow: 5px 0px 5px #000;
}

.titleGeral {
    margin-bottom: 40px;
    font-size: 1.7em;
    text-transform: uppercase;
    text-align: center;
}

.titleGeral p {
    font-size: 0.7em;
    font-weight: 600;
    padding-top: 10px;
    color: grey;
}

.contentAbout {
    display: flex;
    justify-content: space-between;
}

.partOne {
    padding-right: 50px;
}

.informativeVideo {
    width: 400px;
    height: 250px;
    background-color: #171717;
    box-shadow: 2px 3px 5px #000;
}

.paddingSections {
    padding-top: 40px;
    padding-bottom: 20px
}

.blackColorBg {
    background-color: #000;
    color: #FFF;
}

.servicesSec {
    padding-bottom: 30px;
}

.services {
    display: flex;
}

.servicesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.serviceDescription p {
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 600;
}

.serviceDescription label {
    color: #b7b7b7;
}

.serviceBefore {
    display: flex;
}

.serviceBefore::before {    
    content: '';
    border-left: 1px solid #b7b7b7;
}

.afterStyle::after {
    content: '';
    border-left: 1px solid #b7b7b7;
}

.projectSec {
    background-color: #FFF;
}

.menuProject {
    display: flex;  
    border: 1px solid var(--grey-color);  
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: 0px 0px 1px var(--grey-color);
}

.menuProject div {
    background-color: var(--light-grey-color);
    /* width: 100px; */
    /* height: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 5px solid transparent; */
    /* padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px; */
}

.beforeStyle::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 40px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--grey-color);
}

.menuProject div:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 40px;
}

.menuProject div:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-right: 40px;
}

.menuProject label {
    display: flex;
    align-items: center;
    height: 44px;
    border-bottom: 5px solid transparent;
    cursor: pointer;
}

.menuProject label:hover {
    border-bottom: 5px solid var(--color-p);
}

.projectImages {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;    
}

.photos {
    width: 256px;
    height: 166px; 
    margin-top: 30px;   
    box-shadow: 0px 0px 5px #000;
    cursor: pointer;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-transform: uppercase;    
}

.text1 {
    font-size: 1.3em;
    font-weight: 600;
    padding-bottom: 20px;
    cursor: pointer;
}

.text2 {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 0.8em;
    color: var(--light-grey-color);
    cursor: pointer;
}

.photo2 {
    background-image: url("../../media/foto2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.photos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

